# /etc/uwsgi/apps-enabled/{{ env.app_name }}.ini

[uwsgi]
uid = {{ env.user }}
gid = {{ env.user }}
chdir = {{ env.current_path }}
home = {{ env.current_path }}
module = {{ env.app_name }}.wsgi
binary-path = uwsgi
master = true
processes = {{ env.uwsgi_process }}
threads = {{ env.uwsgi_threads }}
vacuum = true
socket = {{ env.socket }}
chmod-socket = 777
chown-socket = {{ env.user }}:{{ env.user }}
virtualenv = {{ env.venv }}
